#numGen {

    background-color: hsl(0, 0%, 0%);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 50%;
    height: 60%;
    border: 1px solid hsl(212, 100%, 60%);
}

.val {
    width: 100%;
    margin-top: 10%;
    color: hsl(212, 100%, 60%);
    text-align: center;
    font-size: 700%;
    text-align: center;
}

.incomingValue {
    width: 100%;
    height: 50%;
    margin-top: 10%;
    color: hsl(212, 100%, 60%);    
}

.incomingValueMin{
    font-size: 200%;
    width: 15%;
    float: left;
    }
.incomingValueMax{
    font-size: 200%;
    margin-top: 5%;
    width: 15%;
    float: left;
}

#input1{
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 200%;
    border: none;
    border-bottom: 1px solid hsl(212, 100%, 60%) ;
    width: 80%;
    float: right;
}
#input2{
    background-color: black;
    color: whitesmoke;
    font-size: 200%;
    border: none;
    border-bottom: 1px solid hsl(212, 100%, 60%);
    margin-top: 5%;
    width: 80%;
    float: right;
}

.GB {
    color: azure;
    margin-top: 40%;
    border-top: 1px solid hsl(212, 100%, 60%);
    text-align: center;
    font-size: 200%;
}

body {
    background-color: black;
}
