*{
    font-family: 'Saira', sans-serif;
}
#numGen{
    min-width: 30dvw;
    min-height: 30dvw;
    max-height: 80dvw;
    max-width: 80dvw;
}

.val {
    color: hsl(212, 100%, 60%);
    text-align: center;
    font-size: 25dvw;
    font-weight: 700;
    text-align: center;
}

.incomingValue {
    display: grid;
    grid-template-columns:20% auto;
    grid-column-gap: 40%;
    margin-top: 5dvw;
    color: hsl(212, 100%, 60%);    
}

.incomingValueMin{
    justify-items: start;
    font-weight: 500;
    font-size: 8dvw;
}
.incomingValueMax{
    justify-items: end;
    font-weight: 500;
    font-size: 8dvw;
}

#input1{
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 10dvw;
    width: none;
    border: none;
}
#input2{
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 10dvw;
    width: none;
    border: none;
}

.GB {
    background-color: black;
    border: none;
    width: 80dvw;
    border-top: 1px solid hsl(212, 100%, 60%) ;
    color:  hsl(212, 100%, 60%) ;
    text-align: center;
    font-size: 3dvw;
}

body {
    background-color: black;
}
